1015HW/flows (2).json
[
    {
        "id": "f683d225be327475",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3decce182b2c950a",
        "type": "inject",
        "z": "f683d225be327475",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "e7f7df6a157b148e",
                "94d2324324665049",
                "4190a7df5b821273",
                "88464f2b577cf906",
                "f453880b75861832",
                "aab753b1cccb71e9"
            ]
        ]
    },
    {
        "id": "e7f7df6a157b148e",
        "type": "ui-button",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "Read All",
        "label": "Read All",
        "order": 10,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "d417853940e2fd18"
            ]
        ]
    },
    {
        "id": "94d2324324665049",
        "type": "ui-button",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "Read Pending",
        "label": "Read Pending list",
        "order": 11,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "7b7745e9f7e56ad1"
            ]
        ]
    },
    {
        "id": "4190a7df5b821273",
        "type": "ui-button",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "Read Done",
        "label": "Read Done list",
        "order": 9,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "d8d1155263b17a84"
            ]
        ]
    },
    {
        "id": "d417853940e2fd18",
        "type": "http request",
        "z": "f683d225be327475",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/api/read?state=all",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 120,
        "wires": [
            [
                "7a19417bcaee5885"
            ]
        ]
    },
    {
        "id": "7a19417bcaee5885",
        "type": "json",
        "z": "f683d225be327475",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 120,
        "wires": [
            [
                "e52d1d31f935f5d0",
                "f3f31dc8a9f15217"
            ]
        ]
    },
    {
        "id": "e52d1d31f935f5d0",
        "type": "debug",
        "z": "f683d225be327475",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 40,
        "wires": []
    },
    {
        "id": "a91aea87e89b5c54",
        "type": "ui-table",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "",
        "label": "text",
        "order": 12,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 1430,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f3f31dc8a9f15217",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 1",
        "func": "if (msg.payload && msg.payload.ret) {\n    msg.payload = msg.payload.ret;  \n} else {\n    msg.payload = [];  \n}\n\n// 返回更新后的消息\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 120,
        "wires": [
            [
                "a91aea87e89b5c54",
                "9d4b986c156740e4"
            ]
        ]
    },
    {
        "id": "9d4b986c156740e4",
        "type": "debug",
        "z": "f683d225be327475",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 60,
        "wires": []
    },
    {
        "id": "7b7745e9f7e56ad1",
        "type": "http request",
        "z": "f683d225be327475",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/api/read?state=pending",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 180,
        "wires": [
            [
                "1dd25b8e5aa11a3a"
            ]
        ]
    },
    {
        "id": "1dd25b8e5aa11a3a",
        "type": "json",
        "z": "f683d225be327475",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 730,
        "y": 180,
        "wires": [
            [
                "c450c6f9565d7a6d"
            ]
        ]
    },
    {
        "id": "c450c6f9565d7a6d",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 3",
        "func": "if (msg.payload && msg.payload.ret) {\n    msg.payload = msg.payload.ret;  \n} else {\n    msg.payload = [];  \n}\n\n// 返回更新后的消息\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 180,
        "wires": [
            [
                "a91aea87e89b5c54"
            ]
        ]
    },
    {
        "id": "d8d1155263b17a84",
        "type": "http request",
        "z": "f683d225be327475",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/api/read?state=done",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 240,
        "wires": [
            [
                "434a85a8b800972c"
            ]
        ]
    },
    {
        "id": "434a85a8b800972c",
        "type": "json",
        "z": "f683d225be327475",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 240,
        "wires": [
            [
                "30569b6ce7483fdb"
            ]
        ]
    },
    {
        "id": "30569b6ce7483fdb",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 4",
        "func": "if (msg.payload && msg.payload.ret) {\n    msg.payload = msg.payload.ret;  \n} else {\n    msg.payload = [];  \n}\n\n// 返回更新后的消息\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 240,
        "wires": [
            [
                "a91aea87e89b5c54"
            ]
        ]
    },
    {
        "id": "88464f2b577cf906",
        "type": "ui-button",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "Input your Todo",
        "label": "Add",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 420,
        "y": 340,
        "wires": [
            [
                "89645698a19b3c9b",
                "1dd22ed392b2792a"
            ]
        ]
    },
    {
        "id": "89645698a19b3c9b",
        "type": "ui-text-input",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "Add your Todo",
        "label": "Input your Todo",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 600,
        "y": 340,
        "wires": [
            [
                "7a6ec0049c0cb656"
            ]
        ]
    },
    {
        "id": "f453880b75861832",
        "type": "ui-button",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "ID change",
        "label": "Change ",
        "order": 6,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 410,
        "y": 580,
        "wires": [
            [
                "cec3af500a79930f",
                "3263af9e72b71df4"
            ]
        ]
    },
    {
        "id": "889696887546df55",
        "type": "http request",
        "z": "f683d225be327475",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 720,
        "wires": [
            [
                "d1716c420fe1c6d9"
            ]
        ]
    },
    {
        "id": "cec3af500a79930f",
        "type": "ui-text-input",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "Change",
        "label": "Input  id code",
        "order": 4,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 580,
        "y": 580,
        "wires": [
            [
                "dd074b8232c59a45"
            ]
        ]
    },
    {
        "id": "f691f9c60880a9d0",
        "type": "http request",
        "z": "f683d225be327475",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/api/remove?id={{payload}}",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 760,
        "y": 780,
        "wires": [
            [
                "2b3354fa7c80b03f"
            ]
        ]
    },
    {
        "id": "f9f81b9048039951",
        "type": "ui-text-input",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "Change",
        "label": "Input delete ID",
        "order": 7,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 570,
        "y": 780,
        "wires": [
            [
                "f691f9c60880a9d0"
            ]
        ]
    },
    {
        "id": "aab753b1cccb71e9",
        "type": "ui-button",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "ID delete",
        "label": "Delete",
        "order": 8,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 390,
        "y": 780,
        "wires": [
            [
                "f9f81b9048039951"
            ]
        ]
    },
    {
        "id": "fc8cc43dad28b983",
        "type": "http request",
        "z": "f683d225be327475",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/api/read?state=all",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 460,
        "wires": [
            [
                "b621bb231e5eb179"
            ]
        ]
    },
    {
        "id": "b621bb231e5eb179",
        "type": "json",
        "z": "f683d225be327475",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 870,
        "y": 460,
        "wires": [
            [
                "9ce2d18cf1e83ff1"
            ]
        ]
    },
    {
        "id": "9ce2d18cf1e83ff1",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 10",
        "func": "if (msg.payload && msg.payload.ret) {\n    msg.payload = msg.payload.ret;  \n} else {\n    msg.payload = [];  \n}\n\n// 返回更新后的消息\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 460,
        "wires": [
            [
                "a91aea87e89b5c54"
            ]
        ]
    },
    {
        "id": "1dd22ed392b2792a",
        "type": "ui-button-group",
        "z": "f683d225be327475",
        "name": "Doneornot",
        "group": "e9d51b3fb0117533",
        "order": 2,
        "width": 6,
        "height": 1,
        "label": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "Done",
                "icon": "",
                "value": "true",
                "valueType": "bool",
                "color": "#009933"
            },
            {
                "label": "Pending",
                "icon": "",
                "value": "false",
                "valueType": "bool",
                "color": "#999999"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 380,
        "wires": [
            [
                "57d90d23b4629145"
            ]
        ]
    },
    {
        "id": "f7efe0612d37d972",
        "type": "http request",
        "z": "f683d225be327475",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 460,
        "wires": [
            [
                "fc8cc43dad28b983"
            ]
        ]
    },
    {
        "id": "7a6ec0049c0cb656",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 11",
        "func": "let todo = msg.payload;\nglobal.set(\"todo\", todo);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 340,
        "wires": [
            [
                "f75d47d46b640e89"
            ]
        ]
    },
    {
        "id": "57d90d23b4629145",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 12",
        "func": "let state = msg.payload;\nglobal.set(\"state\", state);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 380,
        "wires": [
            [
                "f75d47d46b640e89"
            ]
        ]
    },
    {
        "id": "f75d47d46b640e89",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 13",
        "func": "// 从 flow 中获取 id 和 state\nlet todo = global.get(\"todo\");\nlet state = global.get(\"state\");\n\n// 构建 URL\nmsg.url = `http://localhost:8082/api/todo?todo=${todo}&state=${state}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 360,
        "wires": [
            [
                "f7efe0612d37d972"
            ]
        ]
    },
    {
        "id": "2b3354fa7c80b03f",
        "type": "http request",
        "z": "f683d225be327475",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/api/read?state=all",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 840,
        "y": 840,
        "wires": [
            [
                "51ed70cd90d21ac0"
            ]
        ]
    },
    {
        "id": "51ed70cd90d21ac0",
        "type": "json",
        "z": "f683d225be327475",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 980,
        "y": 840,
        "wires": [
            [
                "ce503d130f9913d7"
            ]
        ]
    },
    {
        "id": "ce503d130f9913d7",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 15",
        "func": "if (msg.payload && msg.payload.ret) {\n    msg.payload = msg.payload.ret;  \n} else {\n    msg.payload = [];  \n}\n\n// 返回更新后的消息\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 840,
        "wires": [
            [
                "a91aea87e89b5c54"
            ]
        ]
    },
    {
        "id": "3263af9e72b71df4",
        "type": "ui-button-group",
        "z": "f683d225be327475",
        "name": "Doneornot2",
        "group": "e9d51b3fb0117533",
        "order": 5,
        "width": 6,
        "height": 1,
        "label": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "Done",
                "icon": "",
                "value": "true",
                "valueType": "bool",
                "color": "#009933"
            },
            {
                "label": "Pending",
                "icon": "",
                "value": "false",
                "valueType": "bool",
                "color": "#999999"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 620,
        "wires": [
            [
                "7f62239fa4ea7836"
            ]
        ]
    },
    {
        "id": "dd074b8232c59a45",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 16",
        "func": "let id = msg.payload;\nglobal.set(\"id\", id);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 580,
        "wires": [
            [
                "c0dc9674a19601b5"
            ]
        ]
    },
    {
        "id": "7f62239fa4ea7836",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 17",
        "func": "let state2 = msg.payload;\nglobal.set(\"state2\", state2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 620,
        "wires": [
            [
                "c0dc9674a19601b5"
            ]
        ]
    },
    {
        "id": "d1716c420fe1c6d9",
        "type": "http request",
        "z": "f683d225be327475",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/api/read?state=all",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 720,
        "wires": [
            [
                "1ad04e311d523db8"
            ]
        ]
    },
    {
        "id": "1ad04e311d523db8",
        "type": "json",
        "z": "f683d225be327475",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 810,
        "y": 720,
        "wires": [
            [
                "c890821543ddb451"
            ]
        ]
    },
    {
        "id": "c890821543ddb451",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 14",
        "func": "if (msg.payload && msg.payload.ret) {\n    msg.payload = msg.payload.ret;  \n} else {\n    msg.payload = [];  \n}\n\n// 返回更新后的消息\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 720,
        "wires": [
            [
                "a91aea87e89b5c54"
            ]
        ]
    },
    {
        "id": "c0dc9674a19601b5",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 18",
        "func": "// 从 flow 中获取 id 和 state\nlet id = global.get(\"id\");\nlet state2 = global.get(\"state2\");\n\n// 构建 URL\nmsg.url = `http://localhost:8082/api/mark?id=${id}&state=${state2}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 600,
        "wires": [
            [
                "889696887546df55"
            ]
        ]
    },
    {
        "id": "e9d51b3fb0117533",
        "type": "ui-group",
        "name": "Read",
        "page": "1dc4e040b053621a",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1dc4e040b053621a",
        "type": "ui-page",
        "name": "TodoList",
        "ui": "a93341e5a60594b8",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "d99bd5832838b480",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a93341e5a60594b8",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "d99bd5832838b480",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]