1022HW/Nodered1023.json
[
    {
        "id": "f683d225be327475",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cb553fe702e06436",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3dbde3ab4b3577ad",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a93341e5a60594b8",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "d99bd5832838b480",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "1dc4e040b053621a",
        "type": "ui-page",
        "name": "TodoList",
        "ui": "a93341e5a60594b8",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "d99bd5832838b480",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e9d51b3fb0117533",
        "type": "ui-group",
        "name": "Read",
        "page": "1dc4e040b053621a",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "73219927f27be25b",
        "type": "ui-page",
        "name": "Page Name",
        "ui": "a93341e5a60594b8",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "d99bd5832838b480",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c7becca7d1767a94",
        "type": "ui-group",
        "name": "Add",
        "page": "1dc4e040b053621a",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": false,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ba98229339378426",
        "type": "ui-group",
        "name": "Change the state",
        "page": "1dc4e040b053621a",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": false,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8aa3247dec270bf3",
        "type": "ui-group",
        "name": "Delete Todo",
        "page": "1dc4e040b053621a",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": false,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "41a718f7e760a49f",
        "type": "ui-page",
        "name": "Test1016",
        "ui": "a93341e5a60594b8",
        "path": "/page3",
        "icon": "home",
        "layout": "grid",
        "theme": "d99bd5832838b480",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "274759aedd19f34e",
        "type": "ui-group",
        "name": "Test",
        "page": "41a718f7e760a49f",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c76978443533cdfd",
        "type": "ui-page",
        "name": "Login",
        "ui": "a93341e5a60594b8",
        "path": "/page4",
        "icon": "home",
        "layout": "grid",
        "theme": "d99bd5832838b480",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a2d500ba46653800",
        "type": "ui-group",
        "name": "Login",
        "page": "c76978443533cdfd",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "3decce182b2c950a",
        "type": "inject",
        "z": "f683d225be327475",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "e7f7df6a157b148e",
                "94d2324324665049",
                "4190a7df5b821273",
                "88464f2b577cf906",
                "f453880b75861832",
                "aab753b1cccb71e9"
            ]
        ]
    },
    {
        "id": "e7f7df6a157b148e",
        "type": "ui-button",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "Read All",
        "label": "Read All",
        "order": 10,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "d417853940e2fd18"
            ]
        ]
    },
    {
        "id": "94d2324324665049",
        "type": "ui-button",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "Read Pending",
        "label": "Read Pending list",
        "order": 11,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "7b7745e9f7e56ad1"
            ]
        ]
    },
    {
        "id": "4190a7df5b821273",
        "type": "ui-button",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "Read Done",
        "label": "Read Done list",
        "order": 9,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "d8d1155263b17a84"
            ]
        ]
    },
    {
        "id": "d417853940e2fd18",
        "type": "http request",
        "z": "f683d225be327475",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/api/read?state=all",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 120,
        "wires": [
            [
                "7a19417bcaee5885"
            ]
        ]
    },
    {
        "id": "7a19417bcaee5885",
        "type": "json",
        "z": "f683d225be327475",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 120,
        "wires": [
            [
                "e52d1d31f935f5d0",
                "f3f31dc8a9f15217"
            ]
        ]
    },
    {
        "id": "e52d1d31f935f5d0",
        "type": "debug",
        "z": "f683d225be327475",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 40,
        "wires": []
    },
    {
        "id": "a91aea87e89b5c54",
        "type": "ui-table",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "",
        "label": "text",
        "order": 12,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 1430,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f3f31dc8a9f15217",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 1",
        "func": "if (msg.payload && msg.payload.ret) {\n    msg.payload = msg.payload.ret;  \n} else {\n    msg.payload = [];  \n}\n\n// 返回更新后的消息\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 120,
        "wires": [
            [
                "a91aea87e89b5c54",
                "9d4b986c156740e4"
            ]
        ]
    },
    {
        "id": "9d4b986c156740e4",
        "type": "debug",
        "z": "f683d225be327475",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 60,
        "wires": []
    },
    {
        "id": "7b7745e9f7e56ad1",
        "type": "http request",
        "z": "f683d225be327475",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/api/read?state=pending",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 180,
        "wires": [
            [
                "1dd25b8e5aa11a3a"
            ]
        ]
    },
    {
        "id": "1dd25b8e5aa11a3a",
        "type": "json",
        "z": "f683d225be327475",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 730,
        "y": 180,
        "wires": [
            [
                "c450c6f9565d7a6d"
            ]
        ]
    },
    {
        "id": "c450c6f9565d7a6d",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 3",
        "func": "if (msg.payload && msg.payload.ret) {\n    msg.payload = msg.payload.ret;  \n} else {\n    msg.payload = [];  \n}\n\n// 返回更新后的消息\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 180,
        "wires": [
            [
                "a91aea87e89b5c54"
            ]
        ]
    },
    {
        "id": "d8d1155263b17a84",
        "type": "http request",
        "z": "f683d225be327475",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/api/read?state=done",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 240,
        "wires": [
            [
                "434a85a8b800972c"
            ]
        ]
    },
    {
        "id": "434a85a8b800972c",
        "type": "json",
        "z": "f683d225be327475",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 240,
        "wires": [
            [
                "30569b6ce7483fdb"
            ]
        ]
    },
    {
        "id": "30569b6ce7483fdb",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 4",
        "func": "if (msg.payload && msg.payload.ret) {\n    msg.payload = msg.payload.ret;  \n} else {\n    msg.payload = [];  \n}\n\n// 返回更新后的消息\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 240,
        "wires": [
            [
                "a91aea87e89b5c54"
            ]
        ]
    },
    {
        "id": "88464f2b577cf906",
        "type": "ui-button",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "Input your Todo",
        "label": "Add",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 420,
        "y": 340,
        "wires": [
            [
                "89645698a19b3c9b",
                "1dd22ed392b2792a"
            ]
        ]
    },
    {
        "id": "89645698a19b3c9b",
        "type": "ui-text-input",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "Add your Todo",
        "label": "Input your Todo",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 600,
        "y": 340,
        "wires": [
            [
                "7a6ec0049c0cb656"
            ]
        ]
    },
    {
        "id": "f453880b75861832",
        "type": "ui-button",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "ID change",
        "label": "Change ",
        "order": 6,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 410,
        "y": 580,
        "wires": [
            [
                "cec3af500a79930f",
                "3263af9e72b71df4"
            ]
        ]
    },
    {
        "id": "889696887546df55",
        "type": "http request",
        "z": "f683d225be327475",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 720,
        "wires": [
            [
                "d1716c420fe1c6d9"
            ]
        ]
    },
    {
        "id": "cec3af500a79930f",
        "type": "ui-text-input",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "Change",
        "label": "Input  id code",
        "order": 4,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 580,
        "y": 580,
        "wires": [
            [
                "dd074b8232c59a45"
            ]
        ]
    },
    {
        "id": "f691f9c60880a9d0",
        "type": "http request",
        "z": "f683d225be327475",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/api/remove?id={{payload}}",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 760,
        "y": 780,
        "wires": [
            [
                "2b3354fa7c80b03f"
            ]
        ]
    },
    {
        "id": "f9f81b9048039951",
        "type": "ui-text-input",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "Change",
        "label": "Input delete ID",
        "order": 7,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 570,
        "y": 780,
        "wires": [
            [
                "f691f9c60880a9d0"
            ]
        ]
    },
    {
        "id": "aab753b1cccb71e9",
        "type": "ui-button",
        "z": "f683d225be327475",
        "group": "e9d51b3fb0117533",
        "name": "ID delete",
        "label": "Delete",
        "order": 8,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 390,
        "y": 780,
        "wires": [
            [
                "f9f81b9048039951"
            ]
        ]
    },
    {
        "id": "fc8cc43dad28b983",
        "type": "http request",
        "z": "f683d225be327475",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/api/read?state=all",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 460,
        "wires": [
            [
                "b621bb231e5eb179"
            ]
        ]
    },
    {
        "id": "b621bb231e5eb179",
        "type": "json",
        "z": "f683d225be327475",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 870,
        "y": 460,
        "wires": [
            [
                "9ce2d18cf1e83ff1"
            ]
        ]
    },
    {
        "id": "9ce2d18cf1e83ff1",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 10",
        "func": "if (msg.payload && msg.payload.ret) {\n    msg.payload = msg.payload.ret;  \n} else {\n    msg.payload = [];  \n}\n\n// 返回更新后的消息\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 460,
        "wires": [
            [
                "a91aea87e89b5c54"
            ]
        ]
    },
    {
        "id": "1dd22ed392b2792a",
        "type": "ui-button-group",
        "z": "f683d225be327475",
        "name": "Doneornot",
        "group": "e9d51b3fb0117533",
        "order": 2,
        "width": 6,
        "height": 1,
        "label": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "Done",
                "icon": "",
                "value": "true",
                "valueType": "bool",
                "color": "#009933"
            },
            {
                "label": "Pending",
                "icon": "",
                "value": "false",
                "valueType": "bool",
                "color": "#999999"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 380,
        "wires": [
            [
                "57d90d23b4629145"
            ]
        ]
    },
    {
        "id": "f7efe0612d37d972",
        "type": "http request",
        "z": "f683d225be327475",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 460,
        "wires": [
            [
                "fc8cc43dad28b983"
            ]
        ]
    },
    {
        "id": "7a6ec0049c0cb656",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 11",
        "func": "let todo = msg.payload;\nglobal.set(\"todo\", todo);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 340,
        "wires": [
            [
                "f75d47d46b640e89"
            ]
        ]
    },
    {
        "id": "57d90d23b4629145",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 12",
        "func": "let state = msg.payload;\nglobal.set(\"state\", state);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 380,
        "wires": [
            [
                "f75d47d46b640e89"
            ]
        ]
    },
    {
        "id": "f75d47d46b640e89",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 13",
        "func": "// 从 flow 中获取 id 和 state\nlet todo = global.get(\"todo\");\nlet state = global.get(\"state\");\n\n// 构建 URL\nmsg.url = `http://localhost:8082/api/todo?todo=${todo}&state=${state}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 360,
        "wires": [
            [
                "f7efe0612d37d972"
            ]
        ]
    },
    {
        "id": "2b3354fa7c80b03f",
        "type": "http request",
        "z": "f683d225be327475",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/api/read?state=all",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 840,
        "y": 840,
        "wires": [
            [
                "51ed70cd90d21ac0"
            ]
        ]
    },
    {
        "id": "51ed70cd90d21ac0",
        "type": "json",
        "z": "f683d225be327475",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 980,
        "y": 840,
        "wires": [
            [
                "ce503d130f9913d7"
            ]
        ]
    },
    {
        "id": "ce503d130f9913d7",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 15",
        "func": "if (msg.payload && msg.payload.ret) {\n    msg.payload = msg.payload.ret;  \n} else {\n    msg.payload = [];  \n}\n\n// 返回更新后的消息\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 840,
        "wires": [
            [
                "a91aea87e89b5c54"
            ]
        ]
    },
    {
        "id": "3263af9e72b71df4",
        "type": "ui-button-group",
        "z": "f683d225be327475",
        "name": "Doneornot2",
        "group": "e9d51b3fb0117533",
        "order": 5,
        "width": 6,
        "height": 1,
        "label": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "Done",
                "icon": "",
                "value": "true",
                "valueType": "bool",
                "color": "#009933"
            },
            {
                "label": "Pending",
                "icon": "",
                "value": "false",
                "valueType": "bool",
                "color": "#999999"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 620,
        "wires": [
            [
                "7f62239fa4ea7836"
            ]
        ]
    },
    {
        "id": "dd074b8232c59a45",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 16",
        "func": "let id = msg.payload;\nglobal.set(\"id\", id);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 580,
        "wires": [
            [
                "c0dc9674a19601b5"
            ]
        ]
    },
    {
        "id": "7f62239fa4ea7836",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 17",
        "func": "let state2 = msg.payload;\nglobal.set(\"state2\", state2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 620,
        "wires": [
            [
                "c0dc9674a19601b5"
            ]
        ]
    },
    {
        "id": "d1716c420fe1c6d9",
        "type": "http request",
        "z": "f683d225be327475",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8082/api/read?state=all",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 720,
        "wires": [
            [
                "1ad04e311d523db8"
            ]
        ]
    },
    {
        "id": "1ad04e311d523db8",
        "type": "json",
        "z": "f683d225be327475",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 810,
        "y": 720,
        "wires": [
            [
                "c890821543ddb451"
            ]
        ]
    },
    {
        "id": "c890821543ddb451",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 14",
        "func": "if (msg.payload && msg.payload.ret) {\n    msg.payload = msg.payload.ret;  \n} else {\n    msg.payload = [];  \n}\n\n// 返回更新后的消息\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 720,
        "wires": [
            [
                "a91aea87e89b5c54"
            ]
        ]
    },
    {
        "id": "c0dc9674a19601b5",
        "type": "function",
        "z": "f683d225be327475",
        "name": "function 18",
        "func": "// 从 flow 中获取 id 和 state\nlet id = global.get(\"id\");\nlet state2 = global.get(\"state2\");\n\n// 构建 URL\nmsg.url = `http://localhost:8082/api/mark?id=${id}&state=${state2}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 600,
        "wires": [
            [
                "889696887546df55"
            ]
        ]
    },
    {
        "id": "46b3b32b91351034",
        "type": "ui-text",
        "z": "cb553fe702e06436",
        "group": "274759aedd19f34e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 850,
        "y": 520,
        "wires": []
    },
    {
        "id": "b2b296bc2cf4c3f6",
        "type": "ui-switch",
        "z": "cb553fe702e06436",
        "name": "Remember",
        "label": "Remember",
        "group": "274759aedd19f34e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "717b6a3b43bb5289"
            ]
        ]
    },
    {
        "id": "83fb48ba6d4efb94",
        "type": "ui-dropdown",
        "z": "cb553fe702e06436",
        "group": "274759aedd19f34e",
        "name": "",
        "label": "Select Option:",
        "tooltip": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "使用者",
                "value": "admin",
                "type": "str"
            },
            {
                "label": "管理員",
                "value": "manager",
                "type": "str"
            },
            {
                "label": "設計師",
                "value": "designer",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "x": 260,
        "y": 480,
        "wires": [
            [
                "4ae46ff506adf54f"
            ]
        ]
    },
    {
        "id": "8435b10677224c97",
        "type": "debug",
        "z": "cb553fe702e06436",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 440,
        "wires": []
    },
    {
        "id": "717b6a3b43bb5289",
        "type": "debug",
        "z": "cb553fe702e06436",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "493ef4b02d5a2398",
        "type": "ui-text-input",
        "z": "cb553fe702e06436",
        "group": "274759aedd19f34e",
        "name": "",
        "label": "Password",
        "order": 6,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 260,
        "y": 540,
        "wires": [
            [
                "6ceb3316261c7870"
            ]
        ]
    },
    {
        "id": "95ef553e60ecd317",
        "type": "ui-text-input",
        "z": "cb553fe702e06436",
        "group": "274759aedd19f34e",
        "name": "",
        "label": "Username",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 270,
        "y": 580,
        "wires": [
            [
                "2412ac8e4c859546"
            ]
        ]
    },
    {
        "id": "4ae46ff506adf54f",
        "type": "function",
        "z": "cb553fe702e06436",
        "name": "function 6",
        "func": "global.set('selectoption',msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 480,
        "wires": [
            [
                "5511a636291d81d7"
            ]
        ]
    },
    {
        "id": "6ceb3316261c7870",
        "type": "function",
        "z": "cb553fe702e06436",
        "name": "function 7",
        "func": "global.set('password', msg.payload)\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 540,
        "wires": [
            [
                "5511a636291d81d7"
            ]
        ]
    },
    {
        "id": "2412ac8e4c859546",
        "type": "function",
        "z": "cb553fe702e06436",
        "name": "function 8",
        "func": "global.set('username', msg.payload)\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 580,
        "wires": [
            [
                "5511a636291d81d7"
            ]
        ]
    },
    {
        "id": "5511a636291d81d7",
        "type": "function",
        "z": "cb553fe702e06436",
        "name": "function 9",
        "func": "const content = {\n    username: global.get('username'),\n    password: global.get('password'),\n    selectoption: global.get('selectoption')\n};\n\nmsg.payload = content;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 520,
        "wires": [
            [
                "46b3b32b91351034",
                "8435b10677224c97"
            ]
        ]
    },
    {
        "id": "53f7978d47aa1ca5",
        "type": "ui-button",
        "z": "cb553fe702e06436",
        "group": "274759aedd19f34e",
        "name": "",
        "label": "button",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 70,
        "y": 520,
        "wires": [
            [
                "83fb48ba6d4efb94",
                "493ef4b02d5a2398",
                "95ef553e60ecd317"
            ]
        ]
    },
    {
        "id": "308e91db8bbd8454",
        "type": "ui-file-input",
        "z": "3dbde3ab4b3577ad",
        "group": "a2d500ba46653800",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "label": "File Input",
        "icon": "paperclip",
        "allowMultiple": true,
        "accept": "image/jpeg",
        "className": "",
        "x": 260,
        "y": 280,
        "wires": [
            [
                "547c09ab15a72589",
                "a7ad4f551168278f"
            ]
        ]
    },
    {
        "id": "547c09ab15a72589",
        "type": "debug",
        "z": "3dbde3ab4b3577ad",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "file",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 280,
        "wires": []
    },
    {
        "id": "a7ad4f551168278f",
        "type": "image viewer",
        "z": "3dbde3ab4b3577ad",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 450,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e711390badfeb131",
        "type": "ui-form",
        "z": "3dbde3ab4b3577ad",
        "name": "",
        "group": "a2d500ba46653800",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "帳號",
                "key": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "密碼",
                "key": "password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "記住帳號",
                "key": "remember",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "使用者狀態",
                "key": "state",
                "type": "dropdown",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": "",
            "remember": false,
            "state": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [
            {
                "dropdown": "state",
                "value": "engineer",
                "label": "設計者"
            },
            {
                "dropdown": "state",
                "value": "worker",
                "label": "操作員"
            },
            {
                "dropdown": "state",
                "value": "guest",
                "label": "訪客"
            }
        ],
        "x": 270,
        "y": 440,
        "wires": [
            [
                "b7ddf8d26eabb9d9",
                "da82683b25f17272"
            ]
        ]
    },
    {
        "id": "b7ddf8d26eabb9d9",
        "type": "debug",
        "z": "3dbde3ab4b3577ad",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 440,
        "wires": []
    },
    {
        "id": "3c8b27a409c1894e",
        "type": "ui-event",
        "z": "3dbde3ab4b3577ad",
        "ui": "a93341e5a60594b8",
        "name": "",
        "x": 570,
        "y": 100,
        "wires": [
            [
                "8bfc41965c774a11"
            ]
        ]
    },
    {
        "id": "8bfc41965c774a11",
        "type": "debug",
        "z": "3dbde3ab4b3577ad",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "da82683b25f17272",
        "type": "function",
        "z": "3dbde3ab4b3577ad",
        "name": "function 19",
        "func": "msg.payload = { page: \"TodoList\" };\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 520,
        "wires": [
            [
                "472b331760878d25"
            ]
        ]
    },
    {
        "id": "472b331760878d25",
        "type": "ui-control",
        "z": "3dbde3ab4b3577ad",
        "name": "",
        "ui": "a93341e5a60594b8",
        "events": "all",
        "x": 600,
        "y": 520,
        "wires": [
            []
        ]
    }
]